<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Mantis">
        <packages>
            <package name="kz.nee.appmanager" />
            <package name="kz.nee.model" />
            <package name="kz.nee.tests" />
        </packages>

        <classes>
            <class name="kz.nee.mantis.tests.RegistrationTests"/>
            <class name="kz.nee.mantis.tests.LoginTests"/>
            <class name="kz.nee.mantis.tests.ResetPasswordTests"/>
            <class name="kz.nee.mantis.tests.TestBase"/>
        </classes>
    </test>
</suite>
